<!DOCTYPE html>
<html ng-app="todoList">
<head>
	<title>Todo List</title>

	<link rel="stylesheet" type="text/css" href="app/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="app/css/style.css">
</head>
<body ng-controller="taskCtrl">

	<div class="container">
		<h1 class="text-center">Todo List</h1>


		<div ng-repeat="task in tasks">
			<div class="container task">
				<div class="row">
					<div class="col-xs-10">
						<h4>{{ task.title }}</h4>
					</div>
					<div class="col-xs-2 pull-right taskControls">
						<h4>
							<span class="glyphicon glyphicon-edit taskControl"
								  ng-click="setActiveTask(task); modalPopup('edit')">		  
							</span>
							<span class="glyphicon glyphicon-trash taskControl"></span>
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p>{{ task.description }}</p>
					</div>	
				</div>
			</div>
		</div>

		<button class="btn btn-primary" ng-click="modalPopup('new')">New task</button>

		<!-- Edit Modal -->
		<script type="text/ng-template" id="editModal.html">
			
			<div class="modal-header">
				<h2>Edit task</h2>
			</div>

			<div class="modal-body">
				<form>
 					<div class="form-group">
						<label id="task_title_label" for="task_title">Title</label>
						<input type="text" 
							   class="form-control"
							   ng-model=editTask.title
							   value="{{ editTask.title }}"/>
					</div>
					<div class="form-group">
						<label for="task_description">Description</label>
						<input type="text" 
							   class="form-control"
							   ng-model=editTask.description
							   value="{{ editTask.description }}"/>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="dismiss()">
						Close
					</button>
				<button id="CreateTask" 
						type="button" 
						class="btn btn-primary"
						ng-click="updateActiveTask(editTask.title, editTask.description, activeTask.id)">
					Save
				</button>
			</div>
		</script>

		<!-- Add Modal -->
		<script type="text/ng-template" id="addModal.html">
			
			<div class="modal-header">
				<h2>New Task</h2>
			</div>

			<div class="modal-body">
				<form>
 					<div class="form-group">
						<label id="task_title_label" for="task_title">Title</label>
						<input type="text" 
							   class="form-control"
							   ng-model='title'/>
					</div>
					<div class="form-group">
						<label for="task_description">Description</label>
						<input type="text" 
							   class="form-control"
							   ng-model='description'/>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-click="dismiss()">
						Close
					</button>
				<button id="CreateTask" 
						type="button" 
						class="btn btn-primary"
						ng-click="newTask(title, description)">
					Add Task
				</button>
			</div>
		</script>


	</div>

	<script type="text/javascript" src="app/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="app/bower_components/angular-mocks/angular-mocks.js"></script>
	<script type="text/javascript" src="app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="app/js/app.js"></script>
	<script type="text/javascript" src="app/js/controllers/taskController.js"></script>

</body>
</html>